@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Sanchez);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
@font-face {
  font-family: 'CodeProBold';
  src: url("fonts/Code-Pro-Bold.otf");
  src: url("fonts/code-pro-bold.eot");
  src: url("fonts/code-pro-bold.eot") format("embedded-opentype"), url("fonts/code-pro-bold.woff") format("woff"), url("fonts/code-pro-bold.ttf") format("truetype"), url("fonts/code-pro-bold.svg#CodeProBoldRegular") format("svg");
}

@font-face {
  font-family: 'JustVector';
  src: url("fonts/justvectorv2-webfont.eot");
  src: url("fonts/justvectorv2-webfont.eot?#iefix") format("eot"), url("fonts/justvectorv2-webfont.woff") format("woff"), url("fonts/justvectorv2-webfont.ttf") format("truetype"), url("fonts/justvectorv2-webfont.svg#webfontkw9J4lGf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'socicon';
  src: url("fonts/socicon-webfont.eot");
  src: url("fonts/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/socicon-webfont.woff") format("woff"), url("fonts/socicon-webfont.ttf") format("truetype"), url("fonts/socicon-webfont.svg#sociconregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* | Variables
----------------------------------------------------*/
/*5eabca*/
/* | Mixins
----------------------------------------------------*/
/* | Foundation Overrides
----------------------------------------------------*/
/* line 104, ../sass/bunmun_styles.scss */
.row {
  max-width: none;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 110, ../sass/bunmun_styles.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 111, ../sass/bunmun_styles.scss */
audio, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 112, ../sass/bunmun_styles.scss */
audio:not([controls]) {
  display: none;
}

/* line 113, ../sass/bunmun_styles.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 125, ../sass/bunmun_styles.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 127, ../sass/bunmun_styles.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.231;
}

/* line 129, ../sass/bunmun_styles.scss */
body, button, input, select, textarea {
  font-family: 'Lato', sans-serif;
  color: #222;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 137, ../sass/bunmun_styles.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 138, ../sass/bunmun_styles.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 145, ../sass/bunmun_styles.scss */
a {
  color: #1c3d4a;
}

/* line 146, ../sass/bunmun_styles.scss */
a:visited {
  color: #1c3d4a;
}

/* line 147, ../sass/bunmun_styles.scss */
a:hover {
  color: #eb2587;
}

/* line 148, ../sass/bunmun_styles.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 151, ../sass/bunmun_styles.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 158, ../sass/bunmun_styles.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 160, ../sass/bunmun_styles.scss */
b, strong {
  font-weight: bold;
}

/* line 162, ../sass/bunmun_styles.scss */
blockquote {
  margin: 1em 40px;
}

/* line 164, ../sass/bunmun_styles.scss */
dfn {
  font-style: italic;
}

/* line 166, ../sass/bunmun_styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 168, ../sass/bunmun_styles.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 170, ../sass/bunmun_styles.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 173, ../sass/bunmun_styles.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 176, ../sass/bunmun_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 178, ../sass/bunmun_styles.scss */
q {
  quotes: none;
}

/* line 179, ../sass/bunmun_styles.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 181, ../sass/bunmun_styles.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 184, ../sass/bunmun_styles.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 185, ../sass/bunmun_styles.scss */
sup {
  top: -0.5em;
}

/* line 186, ../sass/bunmun_styles.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 193, ../sass/bunmun_styles.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 194, ../sass/bunmun_styles.scss */
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 195, ../sass/bunmun_styles.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 196, ../sass/bunmun_styles.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
/* line 208, ../sass/bunmun_styles.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9 
 */
/* line 214, ../sass/bunmun_styles.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 221, ../sass/bunmun_styles.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 228, ../sass/bunmun_styles.scss */
form {
  margin: 0;
}

/* line 229, ../sass/bunmun_styles.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 232, ../sass/bunmun_styles.scss */
label {
  cursor: pointer;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 239, ../sass/bunmun_styles.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 247, ../sass/bunmun_styles.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 254, ../sass/bunmun_styles.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
/* line 260, ../sass/bunmun_styles.scss */
table button, table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 267, ../sass/bunmun_styles.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 273, ../sass/bunmun_styles.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 274, ../sass/bunmun_styles.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 275, ../sass/bunmun_styles.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
/* line 281, ../sass/bunmun_styles.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
/* line 288, ../sass/bunmun_styles.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 292, ../sass/bunmun_styles.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 294, ../sass/bunmun_styles.scss */
button {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  color: #454545;
  padding: 5px 14px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #dedede;
}
/* line 89, ../sass/bunmun_styles.scss */
button:hover {
  background-color: #e9bd36;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 300, ../sass/bunmun_styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 301, ../sass/bunmun_styles.scss */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
   Author: Ben Wong
   ========================================================================== */
/* line 308, ../sass/bunmun_styles.scss */
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 310, ../sass/bunmun_styles.scss */
h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 311, ../sass/bunmun_styles.scss */
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* line 313, ../sass/bunmun_styles.scss */
body {
  background: url(../images/fabric.jpg);
}

/* line 314, ../sass/bunmun_styles.scss */
.wrapper {
  -webkit-box-shadow: 0px 0px 20px #727272;
  -moz-box-shadow: 0px 0px 20px #727272;
  box-shadow: 0px 0px 20px #727272;
}

/* line 316, ../sass/bunmun_styles.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* | Main Header
----------------------------------------------------*/
/* line 325, ../sass/bunmun_styles.scss */
#MainHeader {
  background-color: rgba(40, 58, 59, 0.95);
  text-align: center;
}
/* line 328, ../sass/bunmun_styles.scss */
#MainHeader .container {
  padding: 10px 20px;
}
/* line 329, ../sass/bunmun_styles.scss */
#MainHeader h1 {
  color: #d0e5ed;
  font-size: 1.27em;
  font-weight: 300;
}
/* line 330, ../sass/bunmun_styles.scss */
#MainHeader h1 .light {
  color: #d0e5ed;
}
/* line 331, ../sass/bunmun_styles.scss */
#MainHeader h1 .alternate {
  font-weight: 100;
  font-size: 14px;
  text-transform: lowercase;
}

/* | Intro
----------------------------------------------------*/
/* line 340, ../sass/bunmun_styles.scss */
#Intro {
  padding: 0;
  position: relative;
}
/* line 343, ../sass/bunmun_styles.scss */
#Intro #video-bg {
  width: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  background: transparent url(../images/video-bg2.jpg) no-repeat;
  background-size: cover;
  z-index: -100;
}
/* line 344, ../sass/bunmun_styles.scss */
#Intro #video-img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -100;
}
/* line 345, ../sass/bunmun_styles.scss */
#Intro .container {
  padding: 0;
}
/* line 346, ../sass/bunmun_styles.scss */
#Intro .container .columns {
  padding: 1em;
}
/* line 348, ../sass/bunmun_styles.scss */
#Intro .role-descriptions {
  position: relative;
}
/* line 350, ../sass/bunmun_styles.scss */
#Intro .role-descriptions .description {
  display: none;
  margin-bottom: 1em;
}
/* line 353, ../sass/bunmun_styles.scss */
#Intro .role-descriptions .description h2 {
  font-size: 1.17em;
  font-family: 'Lato', sans-serif;
  line-height: 2em;
}
/* line 354, ../sass/bunmun_styles.scss */
#Intro .role-descriptions .description p {
  font-size: 1em;
  margin-bottom: 0.3em;
  line-height: 2em;
}
/* line 358, ../sass/bunmun_styles.scss */
#Intro .role-descriptions .description:first-child {
  display: block;
}
/* line 362, ../sass/bunmun_styles.scss */
#Intro .highlight {
  display: inline;
  padding: 0.25em;
  background-color: rgba(227, 205, 6, 0.95);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  /*-webkit-box-shadow: 10px 0 0 rgba(227,205,6,0.8), -10px 0 0 rgba(227,205,6,0.8);*/
  /*box-shadow: 10px 0 0 rgba(227,205,6,0.8), -10px 0 0 rgba(227,205,6,0.8);*/
}
/* line 366, ../sass/bunmun_styles.scss */
#Intro #RoleSelector {
  padding: 1em;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 369, ../sass/bunmun_styles.scss */
#Intro #RoleSelector h3 {
  color: #d0e5ed;
  font-size: 1.17em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2em;
  text-align: center;
}
/* line 371, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .social-nav {
  text-align: center;
  padding: 0.5em 0;
}
/* line 374, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .social-nav .socialIcon {
  font-family: 'socicon';
  font-size: 1.27em;
  color: #f6f6f5;
  padding: 0 0.15em;
  text-align: center;
}
/* line 377, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .social-nav a:hover .socialIcon {
  color: #eb2587;
}
/* line 383, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector {
  text-align: center;
  padding: 0.5em 0;
}
/* line 386, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav {
  background: none;
  height: 37px;
  position: relative;
}
/* line 392, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav ul.buttonList {
  position: relative;
  z-index: 100;
}
/* line 396, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav ul.buttonList li {
  margin: 3px 0 0 0;
  height: auto;
  display: block;
}
/* line 400, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav ul.buttonList li a {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Lato';
  color: #d0e5ed;
  display: block;
  /*visibility: hidden;*/
  position: absolute;
  left: -50000px;
  padding: 0.25em 0;
  background-color: #1c3d4a;
}
/* line 401, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav ul.buttonList li a.selected, #Intro #RoleSelector .role-selector .role-nav ul.buttonList li .role-button:hover {
  /*visibility: visible;*/
  position: relative;
  left: 0;
  display: block;
  background: #eb2587;
  color: #f6f6f5;
}
/* line 405, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav a.expand {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -50000px;
  display: block;
  width: 30px;
  height: 33px;
  background-color: #1c3d4a;
  box-sizing: border-box;
  padding: 0 8px;
  z-index: 100;
}
/* line 414, ../sass/bunmun_styles.scss */
#Intro #RoleSelector .role-selector .role-nav a.expand span {
  /*position: absolute;*/
  display: block;
  width: 0.88889rem;
  height: 0;
  -webkit-box-shadow: 1px 10px 1px 1px white, 1px 16px 1px 1px white, 1px 22px 1px 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

/* | Social
----------------------------------------------------*/
/* line 440, ../sass/bunmun_styles.scss */
#Social {
  background-color: #d0e5ed;
}
/* line 441, ../sass/bunmun_styles.scss */
#Social .row {
  position: relative;
}
/* line 442, ../sass/bunmun_styles.scss */
#Social .container {
  padding: 0;
}
/* line 443, ../sass/bunmun_styles.scss */
#Social h3 {
  float: left;
}
/* line 444, ../sass/bunmun_styles.scss */
#Social a.social-icon {
  background-image: url(../images/socialIcons.png);
  background-repeat: no-repeat;
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -500000px;
  position: relative;
  margin: 0 auto;
}
/* line 455, ../sass/bunmun_styles.scss */
#Social a.wordpress {
  background-position: 0 0;
}
/* line 456, ../sass/bunmun_styles.scss */
#Social a.twitter {
  background-position: -83px 0;
}
/* line 457, ../sass/bunmun_styles.scss */
#Social a.tumblr {
  background-position: -163px 0;
}
/* line 458, ../sass/bunmun_styles.scss */
#Social a.soundcloud {
  background-position: -243px 0;
}
/* line 459, ../sass/bunmun_styles.scss */
#Social a.flickr {
  background-position: -323px 0;
}
/* line 460, ../sass/bunmun_styles.scss */
#Social .social-box {
  float: left;
  width: 20%;
  height: 100px;
}
/* line 461, ../sass/bunmun_styles.scss */
#Social div.wordpress {
  background: #c7c7c7;
}
/* line 462, ../sass/bunmun_styles.scss */
#Social div.twitter {
  background: #2f99c8;
}
/* line 463, ../sass/bunmun_styles.scss */
#Social div.tumblr {
  background: #1c3d4a;
}

/* line 467, ../sass/bunmun_styles.scss */
#Feeds {
  font-size: 0.85em;
  background-color: #283a3b;
}
/* line 470, ../sass/bunmun_styles.scss */
#Feeds .row {
  position: relative;
}
/* line 471, ../sass/bunmun_styles.scss */
#Feeds .container {
  padding: 0;
  margin: 0 auto;
}
/* line 472, ../sass/bunmun_styles.scss */
#Feeds .social-icon {
  background-image: url(../images/socialIcons.png);
  background-repeat: no-repeat;
  width: 68px;
  height: 68px;
  text-indent: -500000px;
  position: relative;
  top: -30px;
  margin: 0 auto;
}
/* line 481, ../sass/bunmun_styles.scss */
#Feeds .social-icon a {
  color: #fff;
}
/* line 483, ../sass/bunmun_styles.scss */
#Feeds .rssItem {
  background: #ffffff;
  width: 25%;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 2em;
  border-width: 1px;
  border-style: solid;
  bordder-color: #14110f;
  position: relative;
}
/* line 495, ../sass/bunmun_styles.scss */
#Feeds .rssItem h4 {
  font-size: 1em;
}
/* line 496, ../sass/bunmun_styles.scss */
#Feeds .rssItem h5 {
  font-size: 0.92em;
}
/* line 497, ../sass/bunmun_styles.scss */
#Feeds .rssItem h6 {
  font-size: 0.75em;
}
/* line 499, ../sass/bunmun_styles.scss */
#Feeds .selectB {
  background-color: #283a3b;
  position: relative;
}
/* line 502, ../sass/bunmun_styles.scss */
#Feeds .selectB h4, #Feeds .selectB h5, #Feeds .selectB h6 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  float: left;
  clear: both;
  padding: 3px;
}
/* line 504, ../sass/bunmun_styles.scss */
#Feeds .twitter {
  background-color: #2f99c8;
  /*height: 150px;*/
  position: relative;
}
/* line 508, ../sass/bunmun_styles.scss */
#Feeds .twitter p {
  color: #fff;
}
/* line 509, ../sass/bunmun_styles.scss */
#Feeds .twitter .created_by, #Feeds .twitter .posted {
  font-size: 0.82em;
  color: #d0e5ed;
}
/* line 512, ../sass/bunmun_styles.scss */
#Feeds .tumblr {
  background-color: #2c4762;
  position: relative;
}
/* line 515, ../sass/bunmun_styles.scss */
#Feeds .tumblr h4, #Feeds .tumblr h5, #Feeds .tumblr h6 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  float: left;
  clear: both;
  padding: 3px;
}
/* line 518, ../sass/bunmun_styles.scss */
#Feeds .socialIcon {
  font-family: 'JustVector';
  font-size: 2em;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 16px;
}

/* line 522, ../sass/bunmun_styles.scss */
.wrapSocial {
  text-align: center;
  padding: 0 0 40px;
  position: relative;
  border-width: 0 6px;
  border-style: solid;
  border-color: black;
}
/* line 529, ../sass/bunmun_styles.scss */
.wrapSocial time {
  font-size: 10px;
}
/* line 530, ../sass/bunmun_styles.scss */
.wrapSocial h2 {
  font-size: 24px;
}
/* line 531, ../sass/bunmun_styles.scss */
.wrapSocial .activity {
  text-align: left;
  margin-bottom: 24px;
  background-color: #f6f6f5;
  border-width: 5px 0 5px;
  border-style: solid;
  border-color: #3a3a3a;
}
/* line 537, ../sass/bunmun_styles.scss */
.wrapSocial .activity h3, .wrapSocial .activity h6 {
  font-family: 'Sanchez', serif;
}
/* line 538, ../sass/bunmun_styles.scss */
.wrapSocial .activity h3 {
  font-size: 18px;
  padding: 0 20px;
}
/* line 539, ../sass/bunmun_styles.scss */
.wrapSocial .activity h6 {
  font-size: 14px;
}
/* line 541, ../sass/bunmun_styles.scss */
.wrapSocial .activity ul.posts li a.block {
  display: block;
  padding: 12px 20px;
  line-height: 12px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #d1d1d0;
}
/* line 544, ../sass/bunmun_styles.scss */
.wrapSocial .description {
  padding: 0 20px 30px;
}

/* line 549, ../sass/bunmun_styles.scss */
#WordPress {
  background-color: #e9bd36;
}
/* line 551, ../sass/bunmun_styles.scss */
#WordPress .social-icon {
  width: 66px;
}
/* line 552, ../sass/bunmun_styles.scss */
#WordPress .activity {
  background-color: #f6f6f5;
  border-width: 5px 0 5px;
  border-style: solid;
  border-color: #3a3a3a;
}
/* line 553, ../sass/bunmun_styles.scss */
#WordPress .activity a {
  color: #342c24;
}
/* line 554, ../sass/bunmun_styles.scss */
#WordPress .activity a:hover {
  background-color: #eb2587;
  color: #fff;
  text-decoration: none;
}

/* line 558, ../sass/bunmun_styles.scss */
#Twitter {
  background-color: #2f99c8;
  color: #e1e0e0;
}
/* line 561, ../sass/bunmun_styles.scss */
#Twitter .social-icon {
  background-position: 0 -68px;
}
/* line 563, ../sass/bunmun_styles.scss */
#Twitter .activity h3 {
  color: #342c24;
}
/* line 566, ../sass/bunmun_styles.scss */
#Twitter .posts li {
  font-family: Helvetica, sans-serif;
  padding: 16px 20px 28px;
  color: #342c24;
  font-size: 12px;
  line-height: 18px;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #d1d1d0;
}
/* line 575, ../sass/bunmun_styles.scss */
#Twitter .posts li p {
  font-family: Helvetica, sans-serif;
}
/* line 576, ../sass/bunmun_styles.scss */
#Twitter .posts li time {
  float: left;
  padding-right: 6px;
}
/* line 577, ../sass/bunmun_styles.scss */
#Twitter .posts li span {
  float: right;
}
/* line 578, ../sass/bunmun_styles.scss */
#Twitter .posts li span a {
  border: 0 none;
  display: block;
  margin: 0 6px;
  float: left;
  padding: 0;
  background-image: url(../images/everything-spritev2.png);
  text-indent: -50000px;
  width: 16px;
  height: 16px;
}
/* line 579, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_reply:hover {
  background-position: -16px 0;
}
/* line 580, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_retweet {
  background-position: -81px 0;
}
/* line 581, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_retweet:visited {
  background-position: -113px 0;
}
/* line 582, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_retweet:hover {
  background-position: -97px 0;
}
/* line 585, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_fave {
  background-position: -31px 0;
}
/* line 586, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_fave:visited {
  background-position: -63px 0;
}
/* line 587, ../sass/bunmun_styles.scss */
#Twitter .posts li a.tweet_fave:hover {
  background-position: -47px 0;
}

/* line 591, ../sass/bunmun_styles.scss */
#Tumblr {
  background-color: #2c4762;
  color: #e1e0e0;
}
/* line 594, ../sass/bunmun_styles.scss */
#Tumblr .social-icon {
  background-position: 0 -136px;
}
/* line 597, ../sass/bunmun_styles.scss */
#Tumblr .activity .posts .post {
  height: 120px;
}
/* line 599, ../sass/bunmun_styles.scss */
#Tumblr .activity .posts .post p.preview {
  height: 20px;
  overflow: truncate;
}

/* line 609, ../sass/bunmun_styles.scss */
#Experience {
  background: #283a3b;
  font-family: 'Sanchez', serif;
}
/* line 612, ../sass/bunmun_styles.scss */
#Experience .container {
  padding: 0 20px;
}
/* line 613, ../sass/bunmun_styles.scss */
#Experience .job {
  padding: 10px 0;
  clear: both;
}
/* line 614, ../sass/bunmun_styles.scss */
#Experience h1 {
  color: #eb2587;
}
/* line 615, ../sass/bunmun_styles.scss */
#Experience h2 {
  font-size: 1.2rem;
  float: left;
}
/* line 616, ../sass/bunmun_styles.scss */
#Experience h3 {
  font-size: 1rem;
  float: right;
}
/* line 617, ../sass/bunmun_styles.scss */
#Experience ul {
  clear: both;
  margin: 10px 0;
  font-family: 'Sanchez', serif;
}
/* line 618, ../sass/bunmun_styles.scss */
#Experience ul li {
  padding: 0.5rem 0;
  color: #d0e5ed;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 632, ../sass/bunmun_styles.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 633, ../sass/bunmun_styles.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 636, ../sass/bunmun_styles.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 639, ../sass/bunmun_styles.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 642, ../sass/bunmun_styles.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 645, ../sass/bunmun_styles.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 648, ../sass/bunmun_styles.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 649, ../sass/bunmun_styles.scss */
.clearfix:after {
  clear: both;
}

/* line 650, ../sass/bunmun_styles.scss */
.clearfix {
  zoom: 1;
}

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  /* line 663, ../sass/bunmun_styles.scss */
  #MainHeader .container {
    padding: 0 2.6em;
  }

  /* line 669, ../sass/bunmun_styles.scss */
  #Intro #video-img, #Intro #video-bg {
    width: auto;
    left: -70%;
  }
  /* line 671, ../sass/bunmun_styles.scss */
  #Intro .container {
    padding: 12px 0;
  }
  /* line 674, ../sass/bunmun_styles.scss */
  #Intro .container .description h2 {
    font-size: 1.33em;
  }
  /* line 677, ../sass/bunmun_styles.scss */
  #Intro .buttonList {
    top: 0;
  }

  /* line 680, ../sass/bunmun_styles.scss */
  #Social .wrapSocial {
    border-top: 5px solid #342c24;
    border-width: 5px 0 0;
  }
  /* line 681, ../sass/bunmun_styles.scss */
  #Social .container {
    padding: 0 0 10em;
  }

  /* line 685, ../sass/bunmun_styles.scss */
  #Feeds .rssItem {
    width: 100%;
  }
  /* line 687, ../sass/bunmun_styles.scss */
  #Feeds .twitter {
    /*width: 50%;*/
  }
}
@media (min-width: 480px) and (max-width: 580px) {
  /* Style adjustments for viewports 768px and over go here */
  /* line 694, ../sass/bunmun_styles.scss */
  #Intro .container {
    padding: 0;
  }
  /* line 695, ../sass/bunmun_styles.scss */
  #Intro #video-img, #Intro #video-bg {
    width: auto;
    left: -60%;
  }
  /* line 696, ../sass/bunmun_styles.scss */
  #Intro .social-nav, #Intro .role-selector {
    padding: 0;
  }
  /* line 698, ../sass/bunmun_styles.scss */
  #Intro .buttonList {
    top: 0;
  }

  /* line 701, ../sass/bunmun_styles.scss */
  #Social .wrapSocial {
    border-top: 5px solid #342c24;
  }

  /* line 704, ../sass/bunmun_styles.scss */
  #Feeds .rssItem {
    width: 50%;
  }
}
@media (min-width: 580px) and (max-width: 768px) {
  /* line 711, ../sass/bunmun_styles.scss */
  #Intro #video-img, #Intro #video-bg {
    width: auto;
    left: -50%;
  }
  /* line 712, ../sass/bunmun_styles.scss */
  #Intro .buttonList {
    top: 0;
  }
  /* line 713, ../sass/bunmun_styles.scss */
  #Intro .social-nav, #Intro .role-selector {
    padding: 0;
  }
  /* line 715, ../sass/bunmun_styles.scss */
  #Intro .social-nav .socialIcon {
    font-size: 1.5em;
  }

  /* line 720, ../sass/bunmun_styles.scss */
  #Feeds .rssItem {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* Style adjustments for viewports 979px and over go here */
  /* line 731, ../sass/bunmun_styles.scss */
  #Intro #RoleSelector .social-nav, #Intro #RoleSelector .role-selector {
    padding: 0;
  }
  /* line 733, ../sass/bunmun_styles.scss */
  #Intro #RoleSelector .social-nav .socialIcon {
    padding: 0 0.25em;
  }
  /* line 736, ../sass/bunmun_styles.scss */
  #Intro .container {
    padding: 0;
  }
  /* line 738, ../sass/bunmun_styles.scss */
  #Intro .container .columns {
    padding: 2em 1em 1em;
  }
  /* line 740, ../sass/bunmun_styles.scss */
  #Intro .buttonList {
    top: 0;
  }

  /* line 743, ../sass/bunmun_styles.scss */
  #Feeds .rssItem {
    width: 33.333333%;
  }
}
@media (min-width: 979px) and (max-width: 1200px) {
  /* Style adjustments for viewports 979px and over go here */
  /* line 749, ../sass/bunmun_styles.scss */
  .wrapper {
    width: auto;
    margin: 0 auto;
  }

  /* line 752, ../sass/bunmun_styles.scss */
  #Intro #RoleSelector .social-nav, #Intro #RoleSelector .role-selector {
    padding: 0;
  }
  /* line 754, ../sass/bunmun_styles.scss */
  #Intro #RoleSelector .social-nav .socialIcon {
    padding: 0 0.5em;
  }
  /* line 758, ../sass/bunmun_styles.scss */
  #Intro .container {
    padding: 0;
  }
  /* line 759, ../sass/bunmun_styles.scss */
  #Intro .container .columns {
    padding: 9em 1em 3em;
  }
  /* line 761, ../sass/bunmun_styles.scss */
  #Intro .buttonList {
    top: 0;
  }

  /* line 764, ../sass/bunmun_styles.scss */
  #Feeds .rssItem {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  /* line 769, ../sass/bunmun_styles.scss */
  .wrapper {
    max-width: 96em;
    margin: 0 auto;
  }

  /* line 770, ../sass/bunmun_styles.scss */
  #Intro {
    /*.role-selector{
    	padding: 1em;
    	background: $dark-bg-trans;
    	h3{ color: $light-blue; font-size: 1.17em; font-family: 'Sanchez', serif; line-height: 2em; float: left; margin-right: 10px;}
    	
    }*/
    /*.role-nav{
    	background: none;
    	height: auto;
    	width: auto;
    	ul.buttonList{ 
    		width: auto;
    		float: left;
    		position: relative;
    		top: 0 !important; 
    		li{ 
    			float: left; 
    			margin: 3px 6px 0 0;
    			height: auto;
    			a{ font-size: 0.92rem; font-family: 'Sanchez'; color: $light-blue; display:inline-block; padding: 0.25em 0.5em; background-color: $dark-blue; visibility: visible !important; }
    			a.selected{background: $pink; color: $off-white;}
    		}
    	}
    	a.expand{ display: none;}
    }*/
  }
  /* line 772, ../sass/bunmun_styles.scss */
  #Intro #RoleSelector .social-nav, #Intro #RoleSelector .role-selector {
    padding: 0;
  }
  /* line 774, ../sass/bunmun_styles.scss */
  #Intro #RoleSelector .social-nav .socialIcon {
    padding: 0 0.75em;
  }
  /* line 777, ../sass/bunmun_styles.scss */
  #Intro .container {
    padding: 0;
  }
  /* line 779, ../sass/bunmun_styles.scss */
  #Intro .container .columns {
    padding: 16em 1em 4em;
  }

  /* line 809, ../sass/bunmun_styles.scss */
  #Feeds .rssItem {
    width: 20%;
  }
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 819, ../sass/bunmun_styles.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 820, ../sass/bunmun_styles.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 821, ../sass/bunmun_styles.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 822, ../sass/bunmun_styles.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 823, ../sass/bunmun_styles.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 824, ../sass/bunmun_styles.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 825, ../sass/bunmun_styles.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 826, ../sass/bunmun_styles.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 827, ../sass/bunmun_styles.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 829, ../sass/bunmun_styles.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 830, ../sass/bunmun_styles.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
